<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoginRedirect</filter-name>
        <filter-class>utfpr.cp.filter.LoginRedirect</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginRedirect</filter-name>
        <url-pattern>/catSearch.jsp</url-pattern>
        <url-pattern>/novoContato.jsp</url-pattern>
        <url-pattern>/excluirContato.jsp</url-pattern>
        <url-pattern>/editarContato.jsp</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>Mural</servlet-name>
        <servlet-class>utfpr.cp.servlets.Mural</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraUser</servlet-name>
        <servlet-class>utfpr.cp.servlets.CadastrarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarUser</servlet-name>
        <servlet-class>utfpr.cp.servlets.VerificarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarContato</servlet-name>
        <servlet-class>utfpr.cp.servlets.CadastrarContato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarContato</servlet-name>
        <servlet-class>utfpr.cp.servlets.BuscarContato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mural</servlet-name>
        <url-pattern>/Mural</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraUser</servlet-name>
        <url-pattern>/CadastraUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarUser</servlet-name>
        <url-pattern>/VerificarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarContato</servlet-name>
        <url-pattern>/CadastrarContato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarContato</servlet-name>
        <url-pattern>/BuscarContato</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
